@use '../core/variables' as vars;

.page__footer {
  background: #1a9e60;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}