<main class="page__main">
    <div class="search search--highlight">
      <input type="text" class="search__input" placeholder="Example: Women">
      <button class="search__button">Find</button>
    </div>
    <div class="products-section">
      <div class="cart-section">
        <h2>Shopping Cart 🛒</h2>
        <div class="cart-items">
        </div>
      </div>
      <div class="popular-section">
        <h2>Most popular products 🛍️</h2>
        <div class="popular-items">         
        </div>
      </div>
    </div>
</main>
